<a href="https://colab.research.google.com/github/pingli10/sales-predictions/blob/main/project_1_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
filename = '/content/drive/MyDrive/coding dojo/week 2 05/sales_predictions (1).csv'
df = pd.read_csv(filename)

In [ ]:
df.head()

In [ ]:
#rows and columns
df.shape

In [ ]:
#2.datatypes of each variable
df.dtypes

In [ ]:
#3.Are there duplicates 
df.duplicated().sum()

In [ ]:

#4.identify missing values
df.nunique()

In [ ]:

#5. how to address missing value, for specific items missing value 
# From observing data, we know that Item_Outlet_Sales are the most important value
# The Item_sales value depends on Item_weight and Outlet_Size.
# It is based on (MAR)missing at random method, the values between item_weigt and item size are unrelated to item sales 

df_item_w = df['Item_Weight'].isna()
df_item_size = df['Outlet_Size'].isna()
df_w_lk = df[df_item_w]
df_s_lk = df[df_item_size]

df['Item_Weight'].fillna('Missing',inplace=True)
df['Outlet_Size'].fillna('Missing',inplace=True)

In [ ]:
#6.To confirm no missing values
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
#7.Fixed inconsistent categories of data LF to Low Fat, reg to Regular and low fat to Low Fat
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF','Low Fat').replace('reg','Regular').replace('low fat','Low Fat')
#df['Item_Fat_Content'].value_counts()

In [ ]:
#8.find the min, max, and mean of 'Item_weight', Item_MRP , Item_Outlet_Sales 
result = df.agg({"Item_Weight":['max','mean','mean'],
                 "Item_MRP":['max','mean','mean'],
                 "Item_Outlet_Sales":['max','mean','mean']})
result

      Item_Weight    Item_MRP  Item_Outlet_Sales
max     21.350000  266.888400       13086.964800
mean    12.857645  140.992782        2181.288914
mean    12.857645  140.992782        2181.288914