<a href="https://colab.research.google.com/github/pingli10/sales-predictions/blob/main/project_1_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import pandas as pd
filename = '/content/drive/MyDrive/coding dojo/week 2 05/sales_predictions (1).csv'
df = pd.read_csv(filename)

In [144]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [145]:
#rows and columns
df.shape

(8523, 12)

In [146]:
#2.datatypes of each variable
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [147]:
#3.Are there duplicates 
df.duplicated().sum()

0

In [148]:

#4.identify missing values
df.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [149]:

#5. how to address missing value, for specific items missing value 
# From observing data, we know that Item_Outlet_Sales are the most important value
# The Item_sales value depends on Item_weight and Outlet_Size.
# It is based on (MAR)missing at random method, the values between item_weigt and item size are unrelated to item sales 

df_item_w = df['Item_Weight'].isna()
df_item_size = df['Outlet_Size'].isna()
df_w_lk = df[df_item_w]
df_s_lk = df[df_item_size]

df['Item_Weight'].fillna('Missing',inplace=True)
df['Outlet_Size'].fillna('Missing',inplace=True)

In [150]:
#6.To confirm no missing values
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [151]:
#7.Fixed inconsistent categories of data LF to Low Fat, reg to Regular and low fat to Low Fat
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF','Low Fat').replace('reg','Regular').replace('low fat','Low Fat')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [152]:
#8.find the min, max, and mean of 'Item_weight', Item_MRP , Item_Outlet_Sales
#df.head() 
cal_row = df[['Item_Weight','Item_MRP','Item_Outlet_Sales']]
#cal_row.head()
result = cal_row.agg(['min','max','mean'])


result

        Item_MRP  Item_Outlet_Sales
min    31.290000          33.290000
max   266.888400       13086.964800
mean  140.992782        2181.288914