<a href="https://colab.research.google.com/github/pingli10/sales-predictions/blob/main/project_1_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [293]:
import pandas as pd
filename = '/content/drive/MyDrive/coding dojo/week 2 05/sales_predictions (1).csv'
df = pd.read_csv(filename)

In [294]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [295]:
#rows and columns
df.shape

(8523, 12)

In [296]:
#2.datatypes of each variable
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [297]:
#3.Are there duplicates 
df.duplicated().sum()

0

In [298]:

#4.identify missing values
df.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [299]:

#5. how to address missing value, for specific items missing value 
# From observing data, we know that Item_Outlet_Sales are the most important value
# The Item_sales value depends on Item_weight and Outlet_Size.
# It is based on (MAR)missing at random method, the values between item_weigt and item size are unrelated to item sales 

df_item_w = df['Item_Weight'].isna()
df_item_size = df['Outlet_Size'].isna()
df_w_lk = df[df_item_w]
df_s_lk = df[df_item_size]

df['Item_Weight'].fillna(0,inplace=True)
df['Outlet_Size'].fillna('Missing',inplace=True)

In [300]:
#6.To confirm no missing values
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [301]:
#7.Fixed inconsistent categories of data LF to Low Fat, reg to Regular and low fat to Low Fat
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF','Low Fat').replace('reg','Regular').replace('low fat','Low Fat')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [302]:
#8.find the min, max, and mean of  Item_MRP , Item_Outlet_Sales
#df['Item_Weight'].value_counts()

val = df.groupby('Item_Type').agg({'Item_MRP':['min','max','mean'],'Item_Outlet_Sales':['min','max','mean'],'Item_Weight':['min','max','mean']}).round(2)


val

                      Item_MRP                 Item_Outlet_Sales            \
                           min     max    mean               min       max
Item_Type
Baking Goods             33.99  265.56  126.38             37.28   7931.68
Breads                   31.96  263.66  140.95             35.29   8958.34
Breakfast                40.05  234.93  141.79             39.95   8209.31
Canned                   36.35  266.89  139.76             37.95  10306.58
Dairy                    33.49  266.69  148.50             40.61  10256.65
Frozen Foods             31.96  264.89  138.50             36.62   9678.07
Fruits and Vegetables    36.25  264.23  144.58             45.27  12117.56
Hard Drinks              34.25  261.43  137.08             37.95   7843.12
Health and Hygiene       33.12  266.69  130.82             34.62   9779.94
Household                32.46  264.79  149.42             33.29  13086.96
Meat                     34.75  261.59  139.88             47.94   9390.44
Others                   35.02  254.90  132.85             39.95   6008.84
Seafood                  33.72  240.29  141.84            149.80   6503.53
Snack Foods              32.36  264.96  146.19             33.96  10993.69
Soft Drinks              31.29  263.59  131.49             33.29   9554.23
Starchy Foods            34.05  263.03  147.84             58.59   8132.08

                               Item_Weight
                          mean         min    max   mean
Item_Type
Baking Goods           1952.97         0.0  20.85  10.16
Breads                 2204.13         0.0  20.85   9.22
Breakfast              2111.81         0.0  21.10  10.33
Canned                 2225.19         0.0  21.35  10.22
Dairy                  2232.54         0.0  20.70  11.14
Frozen Foods           2132.87         0.0  20.85  10.79
Fruits and Vegetables  2289.01         0.0  21.35  10.94
Hard Drinks            2139.22         0.0  19.70   9.75
Health and Hygiene     2010.00         0.0  21.25  10.87
Household              2258.78         0.0  21.25  11.16
Meat                   2158.98         0.0  21.25  10.16
Others                 1926.14         0.0  20.50  11.23
Seafood                2326.07         0.0  20.75  10.00
Snack Foods            2277.32         0.0  21.25  10.69
Soft Drinks            2006.51         0.0  20.75   9.96
Starchy Foods          2374.33         0.0  21.20  12.03